body {
  width: 100vw;
  height: 100vh;
  background: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.advice-container {
  border: solid white;
  height: 400px;
  width: 800px;
  padding: 20px;
  border-radius: 10%;
  background-color: black;
  color: white;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advice {
  text-align: center;
  font-size: 30px;
}

.title {
  font-size: 30px;
  color: aqua;
  text-align: center;
}

.sub-title {
  font-size: 15px;
  text-align: center;
}

.inner-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 7px;
  width: 70px;
}

.button-loading {
  color: white;
}

.header {
  text-align: center;
  color: teal;
}
